<a href="https://colab.research.google.com/github/Rishabhjuneja/NYC-Taxi/blob/main/Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

In [2]:
text=open("test.csv")

In [6]:
test=pd.read_csv("test.csv")

In [7]:
print(test)

        VendorID lpep_pickup_datetime  ... Payment_type Trip_type
0              2  2016-02-01 00:00:01  ...          2.0        1.0
1              2  2016-02-01 00:01:33  ...          2.0        1.0
2              2  2016-02-01 00:03:46  ...          1.0        1.0
3              2  2016-02-01 00:00:05  ...          2.0        1.0
4              2  2016-02-01 00:06:20  ...          2.0        1.0
...          ...                  ...  ...          ...        ...
538322         2  2016-02-11 22:22:00  ...          1.0        1.0
538323         2  2016-02-11 22:33:45  ...          1.0        1.0
538324         2  2016-02-11 22:49:27  ...          1.0        1.0
538325         2  2016-02-11 22:00:06  ...          1.0        1.0
538326         2                   20  ...          NaN        NaN

[538327 rows x 21 columns]