<a href="https://colab.research.google.com/github/Rishabhjuneja/NYC-Taxi/blob/main/exploartion_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# innstall java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [10]:
from pyspark.sql import functions as F

In [5]:
file_loc='./green_tripdata_2016-02.csv'
df = spark.read.csv(file_loc, inferSchema=True, header =True)

In [6]:
df.show(5)

+--------+--------------------+---------------------+------------------+----------+------------------+------------------+------------------+------------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+----------+
|VendorID|lpep_pickup_datetime|Lpep_dropoff_datetime|Store_and_fwd_flag|RateCodeID|  Pickup_longitude|   Pickup_latitude| Dropoff_longitude|  Dropoff_latitude|Passenger_count|Trip_distance|Fare_amount|Extra|MTA_tax|Tip_amount|Tolls_amount|Ehail_fee|improvement_surcharge|Total_amount|Payment_type|Trip_type |
+--------+--------------------+---------------------+------------------+----------+------------------+------------------+------------------+------------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+----------+
|       2| 2016-02-01 00:00:01|  2016-02-01 00:10:06|                 N|         1|-73.93901824951172|40.805213928222656| -73.9725341796875|40.785884857177734|              1|         2.86|       10.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        11.8|           2|         1|
|       2| 2016-02-01 00:01:33|  2016-02-01 00:20:13|                 N|         1|-73.89149475097656| 40.74665069580078|-73.89087677001953|   40.743896484375|              1|         3.35|       13.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        14.3|           2|         1|
|       2| 2016-02-01 00:03:46|  2016-02-01 00:21:04|                 N|         1|-73.98377990722656| 40.67613220214844|-73.95697784423828|40.718326568603516|              1|          4.7|       17.5|  0.5|    0.5|      3.76|         0.0|     null|                  0.3|       22.56|           1|         1|
|       2| 2016-02-01 00:00:05|  2016-02-01 00:06:48|                 N|         1| -73.8075180053711|40.700374603271484|-73.83165740966797| 40.70597839355469|              1|         2.11|        8.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         9.3|           2|         1|
|       2| 2016-02-01 00:06:20|  2016-02-01 00:08:47|                 N|         1|-73.90396118164062| 40.74493408203125|-73.90000915527344| 40.73360061645508|              5|         0.98|        5.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|         1|
+--------+--------------------+---------------------+------------------+----------+------------------+------------------+------------------+------------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+----------+
only showing top 5 rows

In [7]:
# check number of rows & Coloums 

print((df.count(), len(df.columns)))

(452861, 21)

In [12]:
# Check any missing values 

from pyspark.sql.functions import lit

rows = df.count()
summary = df.describe().filter(F.col("summary") == "count")
summary.select(*((F.lit(rows)-F.col(c)).alias(c) for c in df.columns)).show()

+--------+--------------------+---------------------+------------------+----------+----------------+---------------+-----------------+----------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+----------+
|VendorID|lpep_pickup_datetime|Lpep_dropoff_datetime|Store_and_fwd_flag|RateCodeID|Pickup_longitude|Pickup_latitude|Dropoff_longitude|Dropoff_latitude|Passenger_count|Trip_distance|Fare_amount|Extra|MTA_tax|Tip_amount|Tolls_amount|Ehail_fee|improvement_surcharge|Total_amount|Payment_type|Trip_type |
+--------+--------------------+---------------------+------------------+----------+----------------+---------------+-----------------+----------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+----------+
|     0.0|                 0.0|                  0.0|               0.0|       0.0|             0.0|            0.0|              0.0|             0.0|            0.0|          0.0|        0.0|  0.0|    0.0|       0.0|         0.0| 452861.0|                  0.0|         0.0|         0.0|       1.0|
+--------+--------------------+---------------------+------------------+----------+----------------+---------------+-----------------+----------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+----------+

In [13]:
# Descriptive Statistics

df.describe().show()

# Look into ratecodeid , trip distance , fare amount, extra , mat tax should be .5 , trip amount ,

+-------+-------------------+--------------------+---------------------+------------------+------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+---------+---------------------+------------------+------------------+-------------------+
|summary|           VendorID|lpep_pickup_datetime|Lpep_dropoff_datetime|Store_and_fwd_flag|        RateCodeID|   Pickup_longitude|   Pickup_latitude|  Dropoff_longitude|  Dropoff_latitude|   Passenger_count|     Trip_distance|       Fare_amount|             Extra|            MTA_tax|        Tip_amount|       Tolls_amount|Ehail_fee|improvement_surcharge|      Total_amount|      Payment_type|         Trip_type |
+-------+-------------------+--------------------+---------------------+------------------+------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+---------+---------------------+------------------+------------------+-------------------+
|  count|             452861|              452861|               452861|            452861|            452861|             452861|            452861|             452861|            452861|            452861|            452861|            452861|            452861|             452861|            452861|             452861|        0|               452861|            452861|            452861|             452860|
|   mean| 1.7827059517158688|                null|                 null|              null|1.0957048630816077| -73.81634052555457|40.674054979818145| -73.83151367373222| 40.68120668065093|1.3457440583313645|2.7202115881032087|11.714536115938447|0.3544664919257785|0.48664490870267035|1.2376845212990912|0.10409222697473222|     null|  0.29195918836140555|14.189355872964684|1.5056827591689281| 1.0223601112926732|
| stddev|0.41240480165386867|                null|                 null|              null|0.6666467006245239| 3.2021926453875293|1.7255031802803857|  3.006501103714081|1.6149755689132748| 1.011687508399169|2.8379652898762604| 9.430304883385402|0.3895166583151801| 0.0894778733536195|2.5498377605303126|  1.566284346339578|     null|  0.05179639480135517|10.994964080446136|0.5239623626535967|0.14785190220977826|
|    min|                  1| 2016-02-01 00:00:01|  2016-02-01 00:01:04|                 N|                 1|-115.22274017333984|               0.0|-115.33221435546875|               0.0|                 0|               0.0|            -220.0|              -4.5|               -0.5|              -2.7|              -12.5|     null|                 -0.3|            -220.0|                 1|                  1|
|    max|                  2| 2016-02-10 11:59:59|  2016-02-11 11:49:58|                 Y|                99|                0.0| 41.14335632324219|                0.0| 41.55632781982422|                 9|             235.5|             933.5|               4.5|                3.0|             400.0|             902.17|     null|                 1.77|           1121.16|                 5|                  2|
+-------+-------------------+--------------------+---------------------+------------------+------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+---------+---------------------+------------------+------------------+-------------------+

In [15]:
pandasDF = df.toPandas()
print(pandasDF)

        VendorID lpep_pickup_datetime  ... Payment_type Trip_type
0              2  2016-02-01 00:00:01  ...            2        1.0
1              2  2016-02-01 00:01:33  ...            2        1.0
2              2  2016-02-01 00:03:46  ...            1        1.0
3              2  2016-02-01 00:00:05  ...            2        1.0
4              2  2016-02-01 00:06:20  ...            2        1.0
...          ...                  ...  ...          ...        ...
452856         2  2016-02-10 11:21:59  ...            2        2.0
452857         2  2016-02-10 11:07:37  ...            1        1.0
452858         2  2016-02-10 11:41:05  ...            2        1.0
452859         2  2016-02-10 11:39:43  ...            2        1.0
452860         2  2016-02-10 11:39:32  ...            2        1.0

[452861 rows x 21 columns]

In [ ]:
df.quantile(q=0.5, axis=0, numeric_only=False, interpolation='linear')